<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Khach Hang</title>
</head>
<body>
    <h1><%= khachhang.TenKH %></h1>
    <ol>
        <% donhang.map(e=>{ %>
            <li><%= e.ThoiGian %>-- Tong tien: <%= e.TongTien %></li>
        <% }) %>
    </ol>
</body>
</html>